
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header text-white" style="background: url('../Resim/travel.jpg' ) center center;" onclick="window.location.href='/Basvuru/Index'">
            <h3 class="widget-user-username text-right" style="color:black"></h3>
            <h5 class="widget-user-desc text-right"></h5>
        </div>
        <div class="widget-user-image">
           
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                       
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <h5 class="description-header" onclick="window.location.href='/Basvuru/Index'">GEZİ</h5>

                    <span class="description-text">BAŞVURUSU</span>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                   
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>